{% extends 'layout.html' %}
{% block content %}
    <div class="row" style="margin-top: 2rem;">
        <div class="col-md-10 my-5 mx-auto">
            <h6 class="fw-light main-text-color">Hi, my name is</h6>
            <h1 class="display-2 fw-bolder" style="color: #CCD6F6;">Tadeo Deluca.</h1>
            <h1 class="display-3 fw-bold" style="color: #8892B0;">I build scalable cloud solutions.</h1>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-1">
                <p class="fw-light" style="color: #6B7691;">I'm an advance computer science student at <a class="link-offset-2 link-underline link-underline-opacity-50" style="color: #57DFC2;" href="https://unlp.edu.ar/" target="_blank">UNLP</a> and a Google Cloud Associate Cloud Engineer certified.</p>
            </div>
        </div>
        <div class="col-md-10 my-4 mx-auto">
            <a type="button" href="https://storage.googleapis.com/portfolio_static_content/Resume-Tadeo-Deluca.pdf" class="btn btn-outline-success px-5 py-2" style="background-color: #0a192f; color: #57DFC2;" target="_blank">Resume</a>
        </div>
    </div>

    <!--About Me-->
    {% include '_partials/about.html' %}

    <!--Portfolio-->
    {% include '_partials/portfolio.html' %}

    <!--My Certificates-->
    {% include '_partials/my-certificates.html' %}

    <!--Other Noteworthy Projects-->
    {% include '_partials/other-projects.html' %}
    
    <!--Contact-->
    {% include '_partials/contact.html' %}

{% endblock %}
