{% load static %}
<br class="d-none d-md-block">
<br class="d-none d-md-block">
<br class="d-none d-lg-block">
<br class="d-none d-lg-block">
<br class="d-none d-lg-block">
<br class="d-none d-lg-block">
<br class="d-none d-lg-block">
<br class="d-none d-xl-block">

<div class="row">
    <div class="col-md-12 my-5">
        <h3 id="about-me" class="fw-bolder" style="color: #CCD6F6;">About Me</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="fw-light light-blue-color">Hello! I'm Tadeo Deluca, a Computer Science student from Argentina. I'm an avid enthusiast of Python, Cloud and challenging projects.
            </p>
            <p class="fw-light light-blue-color">Here are a few technologies I’ve been working with recently:</p>
            <ul class="list-group">
                <li class="list-group-item fw-light main-text-color" style="background-color: #040a13;">Python</li>
                <li class="list-group-item fw-light main-text-color" style="background-color: #040a13;">AWS</li>
                <li class="list-group-item fw-light main-text-color" style="background-color: #040a13;">Docker</li>
                <li class="list-group-item fw-light main-text-color" style="background-color: #040a13;">SQL</li>                                
            </ul>
        </div>
        <div class="col-md-4 mt-3 text-center">
            <img src="{% static 'portfolio/profile.png' %}" class="img-fluid rounded" alt="Profile Picture">
        </div>
    </div>
</div>