{% load static %}
<div class="row" style="margin-top: 20rem;">
    <div class="col-md-12 my-5">
        <h3 id="about-me" class="fw-bolder" style="color: #CCD6F6;">About Me</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="fw-light light-blue-color">Hello! I'm Tadeo Deluca, a Computer Science student from Argentina. My passion lies in DevOps and Cloud Solutions, and I'm an avid enthusiast of Python and challenging projects. Currently, I'm focused on studying Kubernetes clusters and GitOps automation.
            </p>
            <p class="fw-light light-blue-color">Here are a few technologies I’ve been working with recently:</p>
            <ul class="list-group">
                <li class="list-group-item fw-light main-text-color" style="background-color: #040a13;">AWS</li>
                <li class="list-group-item fw-light main-text-color" style="background-color: #040a13;">Kubernetes</li>
                <li class="list-group-item fw-light main-text-color" style="background-color: #040a13;">Jenkins</li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/250/250" class="rounded" alt="Profile Picture">
        </div>
    </div>
</div>